body {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#messages {
    display: flex;
    height: 100%;
    width: 85%;
}

.message {
    display: flex;
    align-items: center;
    width: 100%;
}

.username {
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
}

.message-text {
    font-size: 18px;
}